<div class="mx-auto flex w-full max-w-sm flex-col gap-6">
    <div class="flex flex-col items-center">
        <h1 class="text-3xl font-semibold">Sign Up</h1>
        <p class="text-sm">Sign up to access Videoflix</p>
    </div>

    <form (submit)="onSubmit()" #registerForm="ngForm">
        <div class="form-group">
            <div class="form-field">
                <label for="email" class="form-label">Email address</label>
                <input type="email" #email="ngModel" ngModel name="email" placeholder="Type here"
                    class="input max-w-full" />
                <label class="form-label">
                    <span class="form-label-alt">Please enter a valid email.</span>
                </label>
            </div>

            <div class="form-field">
                <label for="password1" class="form-label">Password</label>
                <div class="form-control">
                    <input type="password" #password1="ngModel" ngModel name="password1" placeholder="Type here"
                        class="input max-w-full" />
                </div>
            </div>

            <div class="form-field">
                <label for="password2" class="form-label"> Repeat Password</label>
                <div class="form-control">
                    <input type="password" #password2="ngModel" ngModel name="password2" placeholder="Type here"
                        class="input max-w-full" />
                </div>
            </div>

            <div class="form-field pt-5">
                <div class="form-control justify-between">
                    <button type="submit" #sendBtn class="btn btn-primary w-full">Sign up</button>
                </div>
            </div>

            <div class="form-field">
                <div class="form-control justify-center">
                    <a [routerLink]="'/login'" class="link link-underline-hover link-primary text-sm">
                        You already have an Account? Login here
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
